<a href="https://colab.research.google.com/github/Sarah-Aqeel/selfpaced-data-content/blob/main/Copy_of_Data_Science_Day_1_Exercises_Day1_Homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercises

### #1 - Calculate the BMI (body mass index) on the two lists below using NDArrays...

In [ ]:

import numpy as np
# formula = weight / (height**2) * 730
height = [69, 70, 71, 72, 73, 74, 75]
weight = [110, 120, 130, 140, 150, 160, 170]
BMI=np.array(weight)/(np.array(height)**2)*730
print(BMI)

[16.86620458 17.87755102 18.82562984 19.71450617 20.54794521 21.32943755
 22.06222222]

### #2 - Create a function that will take in two parameters and will create a random matrix based off of those parameters. Extra: Have additional parameters taken in that allow the user to choose the shape and data type of the matrix.

In [ ]:
def mat(shape,dtype):
    random_matrix = np.random.rand(*shape).astype(dtype)
    return random_matrix
mat((3,3),float)

array([[0.69379208, 0.15755367, 0.79649891],
       [0.66189951, 0.13186907, 0.3206879 ],
       [0.64202879, 0.12845178, 0.88457332]])

### #3 - Extra: Open and load the data in the two text files that have the Boston Red Sox hitting data for the past seasons. Compare the difference in the two years by putting the data into an NDArray and running a differencial operation on it. The column to look for will be SLG.

Your output should display which year (either 2017 or 2018) was a better year based on SLG

In [2]:
import pandas as pd

df1=pd.read_csv(

    '/redsox_2017_hitting_1.csv',delimiter='\,'
)

df2=pd.read_csv(

    '/redsox_2018_hitting.csv',delimiter='\,'
)
df1.head()

<ipython-input-2-a5bd8cd8ffd6>:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df1=pd.read_csv(
<ipython-input-2-a5bd8cd8ffd6>:8: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df2=pd.read_csv(

,"""﻿Rk",Pos,Name,Age,G,PA,AB,R,H,2B,...,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,"IBB"""
0,"""1",C,Christian Vazquez,26,99,345,324,43,94,18,...,0.330,0.404,0.735,91,131,14,3,0,1,"0"""
1,"""2",1B,Mitch Moreland,31,149,576,508,73,125,34,...,0.326,0.443,0.769,99,225,14,6,0,5,"6"""
2,"""3",2B,Dustin Pedroia,33,105,463,406,46,119,19,...,0.369,0.392,0.760,100,159,11,2,2,4,"4"""
3,"""4",SS,Xander Bogaerts,24,148,635,571,94,156,32,...,0.343,0.403,0.746,95,230,17,6,0,2,"6"""
4,"""5",3B,Rafael Devers,20,58,240,222,34,63,14,...,0.338,0.482,0.819,111,107,5,0,0,0,"3"""

In [5]:
df1.shape, df2.shape

((23, 28), (20, 28))

In [7]:
df1['SLG']-df2['SLG']

0     0.125
1     0.010
2     0.004
3    -0.119
4     0.049
5    -0.041
6    -0.001
7    -0.181
8    -0.200
9    -0.057
10    0.104
11    0.005
12    0.144
13   -0.264
14   -0.049
15   -0.061
16   -0.047
17    0.078
18    0.237
19    0.139
20      NaN
21      NaN
22      NaN
Name: SLG, dtype: float64

In [ ]:
FIELDS = ['Rk', 'Pos', 'Name', 'Age', 'G', 'PA', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'SB', 'CS',
          'BB', 'SO', 'BA', 'OBP', 'SLG', 'OPS', 'OPS+', 'TB', 'GDP', 'HBP', 'SH', 'SF', 'IBB']

DATATYPES = [('rk', 'i'), ('pos', '|S25'), ('name', '|S25'), ('age', 'i'), ('g', 'i'), ('pa', 'i'), ('ab', 'i'),
                ('r', 'i'), ('h', 'i'), ('2b', 'i'), ('3b', 'i'), ('hr', 'i'), ('rbi', 'i'), ('sb', 'i'), ('cs', 'i'),
                ('bb', 'i'), ('so', 'i'), ('ba', 'f'), ('obp', 'f'), ('slg', 'f'), ('ops', 'f'), ('opsp', 'i'),
                ('tb', 'i'), ('gdp', 'i'), ('hbp', 'i'), ('sh', 'i'), ('sf', 'i'), ('ibb', 'i')]

#Use this function to actually open the data inside of a NDArray